# Xcode
DerivedData/
build/
*.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Code coverage
*.xccovreport
*.xccovarchive

# User-specific
*.swp
*.swo
.DS_Store

# Firebase / Secrets
google-services.json
GoogleService-Info.plist

